IB_CLIENT_ID=tu_client_id_aqui
IB_CLIENT_SECRET=tu_client_secret_aqui
IB_REDIRECT_URL=https://localhost
IB_CUSTOMER_ID=XXXXXXX
IB_TOKEN_URL=https://auth.interbanking.com.ar/cas/oidc/accessToken
IB_API_BASE_URL=https://api-gw.interbanking.com.ar/api/prod/v1
